body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

	div#header {
		display: inline-block;
		padding: 20px 0px;
		width: 100%;
		position: relative;
		text-transform: uppercase;
		border-bottom: 1px solid rgb(200,200,200);
	}

		div#header > * {
			display: inline-block;
		}

		div#header > div.logo {
			padding-left: 20px;
		}

		div#header > nav {
			position: absolute;
			right: 0;
			padding-right: 20px;
			font-weight: lighter;
			font-size: 14px;
		}

		div#header > nav > ul.links {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

			div#header > nav > ul.links > li {
				display: inline-block;
			}


a {
	text-decoration: none;
}