html, body {
	font-family:Helvetica, Arial, sans-serif;
	margin: 0;
	background-color: #2c3e50;
}

	#content {
		width: 700px;
		margin: auto;
	}

		.stock-wrapper {
			padding: 25px;
			border: 2px solid rgba(250,250,250,0.25);
			border-radius: 5px;
			margin: 10px 0px;
			background-color: rgba(250,250,250,0.2);
		}

			.stock-name {
				font-weight: 100;
				display: inline-block;
				margin: 0;
				font-size: 30px;
				color: rgba(250,250,250,0.8);
			}

			.stock-ticker {
				vertical-align: bottom;
				margin-left: 6px;
				color: rgba(250,250,250,0.5);
				line-height: 23px;
			}

			.stock-description {
				color: rgba(0,0,0,0.9);
			}
			.stock-riskRating,
			.stock-previous-close,
			.stock-ppe {
				color: rgba(0,0,0,0.8);
			}

			.stock-riskRating:before,
			.stock-previous-close:before,
			.stock-ppe:before {
				color: rgba(0,0,0,0.6);
			}

			.stock-riskRating:before {
				content: "Rating: ";
			}

			.stock-previous-close:before {
				content: "Previous Close: ";
			}

			.stock-ppe:before {
				content: "Price Per Earnings: ";
			}